# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/
venv/
ENV/

# Build artifacts
build/
dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional: local env vars / secrets
.env

# Assets
*.ai
*.psd
